#star 
{
	float: left;
	border-width: 5px;
	width: 40%;
	height: 20%;
}
#star1
{
 background: url("../img/blankstar.jpg");
 background-size: 100% 100%;
 background-repeat: no-repeat;
 width: 40%;
 height: 100%;
}
#star2
{
 background-image: url("../img/blankstar.jpg");
 background-repeat: no-repeat;
 width: 40%;
 height: 100%;
}
#star3
{
 background-image: url("../img/blankstar.jpg");
 background-repeat: no-repeat;
 width: 40%;
 height: 100%;
}
#star4
{
 background-image: url("../img/blankstar.jpg");
 background-repeat: no-repeat;
 width: 40%;
 height: 100%;
}
#star5
{
 background-image: url("../img/blankstar.jpg");
 background-repeat: no-repeat;
 width: 40%;
 height: 100%;
}
