#container
{
 width: 100%;
 height: 100%;
 background: url(../img/white.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
}
#searchbox {
left: 40%;
position: relative;
width: 500px;
}
.search 
{
padding:8px 15px;
background:rgba(50, 50, 50, 0.7);
border: 0px;
border-style: solid;
border-color: #dbdbdb;
}
.button
{
position: relative;
padding: 6px 15px;
left: -8px;
border-width: 2px;
border-style: solid;
border-color: #207cca;
background-color: #207cca;
color: #fafafa;
}
#sidebutton {
	width: 20%;
	height: 20%;
	background: url(../img/arrow.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin: auto auto;
}
.button:hover
{
background-color: #fafafa;
color: 207cca;
}
body
{
margin: 0px;
}
#image_box
{
 left: 15%;
 width: 70%;
 height: 50%;
 margin: 2% 0px 2% 0px;
 position: relative;
}
#image_box img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	box-shadow: 10px 10px 5px #888888;
}
#dis
{
 width: 70%;
 height: 30%;
 text-align: center;
 font-size: 400%;
 font-weight: bold;
 margin: 0px 0px 0px 15%;
 font-family: "Rounded";
}
@font-face {
    font-family: "Rounded";
    src: url("../font/Days.otf"); 
}