<!doctype html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/main.css" >
	<link rel="stylesheet" type="text/css" href="../css/stars.css">
	<script src="../library/jquery-2.0.3.min.js"></script>
	<script src="../library/jquery.transit.min.js"></script> 
	<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
</head>

<script type=text/javascript>
	var quiz = angular.module('quiz', []);
	
	quiz.controller('quizcontroller', function($scope, $http) {
		$scope.placename = "HELP";
		$scope.imageurl = "../img/help2.png";
		$scope.starrating = [];
		$scope.userstarrating = [];
		$scope.images = ["", "", "", "", ""];
		$scope.currentimageid = 0;
		$scope.animating = false;
		$scope.MAX_IMG = 5;
		$scope.averagerating = 0;
		
		$scope.slideright = function() {
			if(!$scope.animating && $scope.currentimageid<$scope.MAX_IMG-1) {
				$scope.animating=true;
				$scope.currentimageid+=1;
				$('.true').hide();
				$('.true').attr('src', $scope.images[$scope.currentimageid]);
				
				$('.true').fadeIn(750);
				
				$('.false').animate({
				opacity: 0.0,
				left: "+=5%"
				}, 750, function() {
				$('.false').attr('src', $scope.images[$scope.currentimageid]);
				$('.false').css({ "opacity": "100", "margin-left" : "auto", "margin-right" : "auto", "left" : "0"});
				$scope.animating=false;
				});
			}
		}
		
		$scope.slideleft = function() {
			if(!$scope.animating && $scope.currentimageid>0) {
				$scope.animating=true;
				$scope.currentimageid-=1;
				$('.true').hide();
				$('.true').attr('src', $scope.images[$scope.currentimageid]);
				
				$('.true').fadeIn(750);
				
				$('.false').animate({
				opacity: 0.0,
				left: "-=5%"
				}, 750, function() {
				$('.false').attr('src', $scope.images[$scope.currentimageid]);
				$('.false').css({ "opacity": "100", "margin-left" : "auto", "margin-right" : "auto", "left" : "0"});
				$scope.animating=false;
				});
			}
		}
		
		$scope.refreshimages = function(searchQuery) {
			var area = "london";
			$http.get('../php/getfoodratings.php?area=' + searchQuery).
			success(function(data, status, headers, config) {
				var number = 5;
				$scope.placename = data.FHRSEstablishment.EstablishmentCollection.EstablishmentDetail[number].BusinessName;
				var stars = data.FHRSEstablishment.EstablishmentCollection.EstablishmentDetail[number].RatingValue;
				for(var x=0; x<stars; x++) {
					$scope.starrating.push("1");
				}
				var businesstypes = data.FHRSEstablishment.EstablishmentCollection.EstablishmentDetail[number].BusinessType;
				var address2 = data.FHRSEstablishment.EstablishmentCollection.EstablishmentDetail[number].AddressLine2;
				var address3 = data.FHRSEstablishment.EstablishmentCollection.EstablishmentDetail[number].AddressLine3;
				var address4 = data.FHRSEstablishment.EstablishmentCollection.EstablishmentDetail[number].AddressLine4;
				var address = "";
				if(address4!=null) {address=address4;} else if(address3!=null) {address=address3;} else if(address2!=null) {address=address2;}
				var businesstype = businesstypes.split("/")[0];
				$scope.placename.replace(/'/g, "");
				
				if(businesstype.indexOf("supermarket") != -1) {
					alert ("oh dear");
				}
				
				$http.get('../php/getdata.php?companyname=' + $scope.placename).
				success(function(data, status, headers, config) {
					var fdata = data.split(" <br />"); 
					var total = 0;
					for(var y=0; y<fdata.length-1; y++) {total=total+parseInt(fdata[y]);}
					var userrate = total/fdata.length;
					userrate = Math.round(userrate);
					for(var x=0; x<userrate; x++) {
					$scope.userstarrating.push("1");
					}
				}).
				error(function(data, status, headers, config) {
					alert("error: angularJS: $http.get call failed");
				}); 
				
				$http.get("../php/getimages.php?submit=true&searchText="+$scope.placename).
				success(function(data, status, headers, config) {
					$scope.images[0]=data.d.results[0].MediaUrl; $scope.images[1]=data.d.results[1].MediaUrl; $scope.images[2]=data.d.results[2].MediaUrl; $scope.images[3]=data.d.results[3].MediaUrl;
					$scope.images[4]=data.d.results[4].MediaUrl;
					($scope.imageurl = $scope.images[0]);
				}).
				error(function(data, status, headers, config) {
					alert("error: angularJS: $http.get call failed");
				}); 
			}).
			error(function(data, status, headers, config) {
				alert("error: angularJS: $http.get call failed");
			});
		};
	});
</script>

<body>
	<!--contains the website within a box-->
	<div id="container" ng-app="quiz" ng-controller="quizcontroller">
		<!--- <img src=""></img -->
		<div id="topbar">
			<div id="pagelink">
			<a href="/YRS14/YRS14/html/home.html">VIEW IT!
			</a>
			</div>
			<div id="searchbox">
				<form>
					<!-- user search bar -->
					<input class="search" type="text" placeholder="search..." ng-model="$scope.searchQuery">
					<input class="button" type="button" value="Search" ng-click="refreshimages($scope.searchQuery)">
				</form>
			</div>
		</div>
		<div id="mainbody">
			<div id="dis">
				{{placename}}
			</div>
			<div id="image_box">
				<div id="sidebutton" ng-click="slideleft()" style="float: left; margin-left: -14%"><img src="../img/arrow.png"></img></div>
				<div id="sidebutton" ng-click="slideright()" style="float: right; margin-right: -14%"><img src="../img/arrow2.png"></img></div>
				<div id="image_box_wrapper">
				<img class="true" src={{imageurl}}></img>
				<img class="false" src={{imageurl}}></img>
				</div>
			</div>
			<div id="showbox">
				REAL RATING
				<div class="mini-stars">
				<img ng-repeat="star in starrating" src="../img/mini-star.png"></img>
				</div>
			</div>
			<div id="showbox">
				USER RATING
				<div class="mini-stars" style="float: right">
				<img ng-repeat="star in userstarrating" src="../img/mini-star.png" style="float: left"></img>
				</div>
			</div>
		</div>
	</div>
</body>
</html>